In [50]:
my_string = "Pankaj Mahadik"
print(my_string.index('j'))
print(len(my_string)) #length of my_string
print(my_string.find('a')) #occurences of 'a' in my_string
print(my_string.find('z'))
print(my_string[0:my_string.find('Maha')+1])
print('pankaj ' + str(30))
print('pankaj'[::-1]) #Reversing a string
name = input('Enter Name: ')
score = input('Enter Score: ')
print('Congratulations {0}! You scored: {1}'.format(name, score))

5
14
1
-1
Pankaj M
pankaj 30
jaknap
Enter Name: Pankaj
Enter Score: 2
Congratulations Pankaj! You scored: 2

In [33]:
pow(2, 3), 2**3

(8, 8)

In [46]:
from math import *#sqrt, ceil, floor
print(round(7.8))
print(abs(7.8))
print(m.sqrt(7.8))
print(ceil(-7.8))
print(floor(-7.8))

8
7.8
2.792848008753788
-7
-8

In [124]:
months={
          'Jan' : 'January'
        , 'Feb' : 'February'
        , 'Mar' : 'March'
#        , 'Apr' : 'April'
       }

print(months.values())
print(months.keys())
print(months.get('Apr', 'Not Configured'))
print(months['Mar'])
if 'April' in [months.values]:
    print(months['Apr'])
else:
    print('Apr does not exist in months map')

dict_values(['January', 'February', 'March'])
dict_keys(['Jan', 'Feb', 'Mar'])
Not Configured
March
Apr does not exist in months map

In [68]:
_

'March'

In [71]:
i = 0
while i <= 10:
    if i < 1:
        print(i, 'less than 1')
    elif i >=1 and i <=5:
        print(i, 'between 1 and 5')
    elif i > 5 and i < 10:
        print(i, 'between 6 and 9')
    else:
        print(i, 'it\'s 10 now')
    i += 1

0 less than 1
1 between 1 and 5
2 between 1 and 5
3 between 1 and 5
4 between 1 and 5
5 between 1 and 5
6 between 6 and 9
7 between 6 and 9
8 between 6 and 9
9 between 6 and 9
10 it's 10 now

In [72]:
#code comments
''' documentation comments'''

' documentation comments'

In [152]:
import sys
import pandas as pd
try:
    try:
        del error
    except NameError:
        pass
    error = (None, None, None)
#    str(10)/0
    print(my_key)
    10/2
except ZeroDivisionError as e:
    print('division by zero')
except (ValueError, NameError) as e:
    print(e)
#except TypeError as e:
#    print('type error')
except:
    error = sys.exc_info()
    error_frame = pd.DataFrame(data=[error], columns=['Error Type', 'Error Message', 'Error Stack Trace'])
finally:
    if error[0] is not None:
        print(error)

name 'my_key' is not defined

In [106]:
import pandas as pd
import numpy as np
square_map = [x for x in range(8) if x%2]
square_map = {x:x**2 for x in range(8) if x%2}
square_map = {(x, x**2):(str('*' * x)).rjust(10, '_') for x in range(1, 11) if x%2>=0}
df_map = pd.DataFrame(data=square_map, index=[x[0] for x in square_map.keys()])
print(df_map)
df_map
df_map_1 = pd.DataFrame([[2*i+j+1, 2*i+j+2, 2*i+j+3] for i in range(3) for j in range(2*i+3, 2*i+5)])
df_map_1

            1           2           3           4           5           6   \
           1           4           9           16          25          36
1   _________*  ________**  _______***  ______****  _____*****  ____******
2   _________*  ________**  _______***  ______****  _____*****  ____******
3   _________*  ________**  _______***  ______****  _____*****  ____******
4   _________*  ________**  _______***  ______****  _____*****  ____******
5   _________*  ________**  _______***  ______****  _____*****  ____******
6   _________*  ________**  _______***  ______****  _____*****  ____******
7   _________*  ________**  _______***  ______****  _____*****  ____******
8   _________*  ________**  _______***  ______****  _____*****  ____******
9   _________*  ________**  _______***  ______****  _____*****  ____******
10  _________*  ________**  _______***  ______****  _____*****  ____******

            7           8           9           10
           49          64          81          100
1   ___*******  __********  _*********  **********
2   ___*******  __********  _*********  **********
3   ___*******  __********  _*********  **********
4   ___*******  __********  _*********  **********
5   ___*******  __********  _*********  **********
6   ___*******  __********  _*********  **********
7   ___*******  __********  _*********  **********
8   ___*******  __********  _*********  **********
9   ___*******  __********  _*********  **********
10  ___*******  __********  _*********  **********

    0   1   2
0   4   5   6
1   5   6   7
2   8   9  10
3   9  10  11
4  12  13  14
5  13  14  15

In [108]:
friends=['friend-'+str(x) for x in range(1, 6)]
for friend in friends:
    print(friend)

friend-1
friend-2
friend-3
friend-4
friend-5

In [123]:
for c in 'pankaj':
    print(c)

p
a
n
k
a
j

In [50]:
def my_seq():
    c = 0
    while True:
        yield(c)
        c+=1

In [51]:
my_seq_obj = my_seq()

In [53]:
for i in range(5):
    print(next(my_seq_obj))

5
6
7
8
9

In [9]:
class Dish():
    def __init__(self, name):
        self.name = name
        
    def SpecialDish(self):
        return 'Dish::SpecialDish::'+name

class ChineseDish(Dish):
    def __init__(self, name):
        super().__init__(name)

    
    def TodaysDish(self):
        return 'ChineseDish::TodaysDish::'+self.name

class FavouriteChineseDish(ChineseDish):
    def __init__(self, name):
        super().__init__(name)

    def SpecialDish(self):
        return 'FavouriteChineseDish::SpecialDish::'+ self.name
    
class FavouriteSpanishDish(ChineseDish):
    def __init__(self, name):
        super().__init__(name)

    def SpecialDish(self):
        return 'FavouriteSpanishDish::SpecialDish::'+ self.name
    
d = FavouriteChineseDish('Pankaj')
print(d.TodaysDish())
print(d.SpecialDish())

print(isinstance(d, (FavouriteSpanishDish, FavouriteChineseDish)))

ChineseDish::TodaysDish::Pankaj
FavouriteChineseDish::SpecialDish::Pankaj
True

In [77]:
#Integer division

a = 5
b = 3
print('normal division: {0}/{1}={2}'.format(a, b, a/b))
print('integer division: {0}//{1}={2}'.format(a, b, a//b))
print('modulo: {0}%{1}={2}'.format(a, b, a%b))

normal division: 5/3=1.6666666666666667
integer division: 5//3=1
modulo: 5%3=2

In [78]:
#multple assignment
a, b = 20, 30
print(a, b)

20 30

In [87]:
#pass for do nothing
for i in range(1, 10):
    if i % 2 == 0:
        pass
    else:
        print(-i)

-1
-3
-5
-7
-9

In [95]:
#conditional assignment
a = 7
b = 5
value = a if a > b and a+b<10 else b
value

5

In [96]:
not(10)

False

In [100]:
not(5==7)

True

In [99]:
5==7

False

In [102]:
a = 5
b = 5
not(a-b==0)

False

In [106]:
a = 5
b = 5
[a!=b, not(a==b)]

[False, False]

In [109]:
for i in 1, 2, 4:
    print(i)

1
2
4

In [112]:
def my_sum(*nums):
    ans = 0
    for num in nums:
        ans += num
    return ans

my_sum(1, 2, 3)

6

In [24]:
name="Pankaj Mahadik"
my_list=list(name)
print(my_list)
print(name.split())

['P', 'a', 'n', 'k', 'a', 'j', ' ', 'M', 'a', 'h', 'a', 'd', 'i', 'k']
['Pankaj', 'Mahadik']

In [155]:
with open("sample_text.txt", 'a+') as efile:
    efile.write('\nPankaj')

In [167]:
with open("sample_text.txt", 'r+') as efile:
    efile.write('\ntest')
    efile.seek(len(efile.readlines())) #move to last line
    efile.seek(0) #move to first line... needed in case mode is a+
    for line in efile:
        print(line)
    efile.write('\ntest at last')

test

Pankaj

Pankaj

Mahadik

:)

test

test at last

test at last

test

test at last

test

test at last

test

In [2]:
def all_permutations_combinations(arr, length, depth, used, curr, ans):
  if len(curr)>0:
    ans.append("".join(curr))
  
  for i in range(length):
    if not used[i]:
      curr.append(arr[i])
      used[i] = True
      all_permutations_combinations(arr, length, depth+1, used, curr, ans)
      curr.pop()
      used[i] = False
  return

In [3]:
arr = list("ABC")
length = len(arr)
used = [False] * len(arr)
ans = []
all_permutations_combinations(arr, length, 0, used, [], ans)

for a in sorted(set(ans)): print(a)

A
AB
ABC
AC
ACB
B
BA
BAC
BC
BCA
C
CA
CAB
CB
CBA

In [23]:
chars = list("ABC")
"".join(chars[:])

'ABC'